.custom-nav{
    background: rgb(246,108,94); 
    background: linear-gradient(90deg, rgba(246,108,94,1) 45%, rgba(250,134,73,1) 68%);
}

.uts-logo{
    height: 50px;
    width: 50px;
}

.other-nav-logos{
    height: 32px;
    width: 32px;
}

.rounded-div-logos{
    height: 45px;
    width: 45px;
}

.three-dots-logo{
    height: 20px;
    width: 20px;
}

.grid-nav-bg{
    background-color: rgb(243, 243, 243);
}

.grid-icons-div{
    width: 33vw;
}

.grid-icons-div h6{
    font-size: 14px;
    font-weight: 600;
}